chromadb==1.5.9
en_core_web_sm==3.8.0
espeakng-loader==0.2.4
fastapi==0.136.3
faster-whisper==1.2.1
httptools==0.8.0
kokoro==0.9.4
num2words==0.5.14
nvidia-cuda-cupti==13.0.85
nvidia-cuda-runtime==13.0.96
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-nvtx==13.0.85
ollama==0.6.2
phonemizer-fork==3.3.2
pip==26.1.2
python-multipart==0.0.32
soundfile==0.14.0
spacy==3.8.14
spacy-curated-transformers==0.3.1
torchaudio==2.11.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.0
